:root {
    --cor1: #53B0A7;
    --cor2: #ffffff;
    --cor3: #000000;
    --cor4: #ffffff38;
    --cor5: #D9D9D9;
}

body {
    background-color: var(--cor2);
    color: var(--cor3);
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 89vh 1vh;
    grid-template-areas:
        'header'
        'div div'
        'footer';
}

.esq-dir-layout {
    display: flex;
    flex-direction: row;
}

.navbar {
    background-color: var(--cor1);
}

.jumbotron {
    background-color: var(--cor1);
    color: var(--cor2);

}

.custom-button {
    background-color: #53B0A7;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 70px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.custom-button-2{
    background-color: #53B0A7;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 70px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 7px;
}

.input-container {
    width: 29%;
    float: left;
    margin-right: 5%;
    margin-left: 35px;
    margin-top: 50px;
}

.input-container input {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    margin-left: 115px;
    border: none;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 18px;
}

.wolf > input {
    border: none;
    width: 29%;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 18px;
    margin-top: 5px;
    margin-left: 15px; 
}

.clear {
    clear: both;
}

footer {
    background-color: var(--cor5);
    color: var(--cor3);
    padding: 1rem 0;
}

.main-esquerda {
    width: 30%;
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 10px;
}

.main-direita {
    width: 70%;
    background-color: var(--cor2);
    color: var(--cor1);
}

main {
    height: 100%;
}

.logos {
    margin-top: 50px;
}

.letrus {
    margin-top: 40px;
}

.teste {
    display: flex;
    flex-direction: row;
}